.emoji-suggestion-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0.8rem;
  max-width: 480px;
}

.emoji-suggestion-item .emoji {
  font-size: 0.8rem;
  min-width: 20px;
}

.emoji-suggestion-item .name {
  word-break: break-all;
}